<div class="column-1_6 column_padding_bottom">
    <div id="sc_team_1097858985_1"
         class="sc_team_item sc_team_item_1 odd first">
        <div class="sc_team_item_avatar"><img
                class="wp-post-image" width="370"
                height="370" alt="Jassica Mann"
                src="{{img}}">
            <div class="sc_team_item_hover">
                <div class="sc_team_item_socials">
                    <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                        <div class="sc_socials_item"><a
                                href="{{href}}"
                                target="_blank"
                                class="social_icons social_facebook"><span
                                class="icon-facebook"></span></a>
                        </div>
                        <div class="sc_socials_item"><a
                                href="{{href}}"
                                target="_blank"
                                class="social_icons social_twitter"><span
                                class="icon-twitter"></span></a>
                        </div>
                        <div class="sc_socials_item"><a
                                href="{{href}}"
                                target="_blank"
                                class="social_icons social_instagramm"><span
                                class="icon-instagramm"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sc_team_item_info">
            <h5 class="sc_team_item_title"><a href="{{href}}">{{title}}</a></h5>
            <div class="sc_team_item_position"></div>
        </div>
    </div>
</div>