<div class="list-item-wrap">
    <div class="item">
        <img class="item-img" src="/img/{{ img }}"/>
        <div class="item-title"><b>{{ title }}</b></div>
        <div class="item-author"><i>{{ firstname }} {{ lastname }}</i></div>
        <div class="item-price">{{ price[0] }}.{{ price[1] }}</div>
    </div>
</div>