{% extends '../admin_layout.twig' %}

{% block main %}
    {% for delivery in deliveries %}
        <div class="wrap">
            <div class="fields_wrap">
                <div class="field">От: <a href="/admin/providers/{{ delivery.provider._id }}">{{ delivery.provider.name }}</a>
                </div>
                <div class="field">Номер поставки:<a
                            href="/admin/deliveries/{{ delivery._id }}">{{ delivery._id }}</a></div>
                <div class="field">Дата:{{ delivery.delivery_date }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}