{% extends '../admin_layout.twig' %}

{% block main %}
    <h2>Поставка</h2>
    <div class="fields_wrap">
        <div class="field">Номер:{{ delivery._id }}</div>
        <div class="field">Дата:{{ delivery.delivery_date }}</div>
        <div class="field">Принимающий:<a href="/admin/users/{{ delivery.receiver._id }}">{{ delivery.receiver.username }}</a></div>
    </div>
    <h2>Товары</h2>
    {% for product in delivery.products %}
        <div class="fields_wrap">
            <div class="field">Product: {{ product.info.title }}</div>
            <div class="field">Количество: {{ product.count }}</div>
{#            <div class="field">Тип обложки: {% if product.cover_type == 1%}Твердая{% else %}Мягкая{% endif %}</div>#}
        </div>
    {% endfor %}
    {% if delivery.status == 1 %}
        <form method="post" action="/admin/deliveries/{{ delivery._id }}/add">
            <label>Выберите продукт<select name="product" required>
                    {% for book in books %}
                        <option value="{{ book._id }}">{{ book.title }}</option>
                    {% endfor %}
                </select></label>
            <label>Количество<input type="number" name="count"></label>
            <label>Обложка<select name="cover">
                    <option value="1">Твердая</option>
                    <option value="2">Мяшкая</option>
                </select></label>
            <input type="submit" value="Добавить товар">
        </form>
        <form method="post" action="/admin/deliveries/{{ delivery._id }}/close">
            <input type="submit" value="Закрыть поставка">
        </form>
        {% else %}
        <div class="field">Поставка закрыта</div>
    {% endif %}
{% endblock %}