{% extends '../admin_layout.twig' %}

{% block main %}
    <div class="wrap">
        <div class="fields_wrap book_wrap">
            <div>
                <img class="book_img" src="/img/{{ book.img }}">
            </div>
            <div class="book_info">
                <form method="post" action="/admin/books/{{ book._id }}/redact" enctype="multipart/form-data">
                    <label class="field">Название</label>
                    <input class="field_wrap field" type="text" name="title" value="{{ book.title }}" class="field" required>
                    <label class="field">Цена</label>
                    <input class="field_wrap field" type="text" name="price" value="{{ book.price  // 100 }}.{{ book.price % 100 }}" required>
                    <label class="field">ISBN</label>
                    <input class="field_wrap" type="text" name="isbn" pattern="\d{13}" placeholder="13:цифр"/>
                    <label class="field">Изображение</label>
                    <input class="field_wrap" type="file" name="filedata" accept="image/*">
                    <label class="field">Жанры</label>
                    <select class="field_wrap" name="genres" multiple required>
                        {% for genre in genres_list %}
                            <option value="{{ genre._id }}" {% if genre._id in book.genres %} selected {% endif %}>{{ genre.title }}</option>
                        {% endfor %}
                    </select>
                    <label class="field">Авторы</label>
                    <select class="field_wrap" name="authors" multiple required>
                        {% for author in authors_list %}
                            <option value="{{ author._id }}" {% if author._id in book.authors %} selected {% endif %}>{{ author.firstname }} {{ author.lastname }}</option>
                        {% endfor %}
                    </select>
                    <textarea class="field_wrap book_description" name="description">{{ book.description }}</textarea>
                    <label class="field"><input type="submit" value="Изменить"></label>
                </form>
                <form method="post" action="/admin/books/{{ book._id }}/remove">
                    <input type="submit" value="Удалить">
                </form>
            </div>
        </div>
    </div>
{% endblock %}