{% extends '../admin_layout.twig' %}

{% block main %}
<h3>Добавление новой книги</h3>
    <div class="wrap">
        <form class="fields_wrap" method="post" action="/admin/books/add" enctype="multipart/form-data">
            <label class="field" >Название</label>
            <input class="field_wrap" type="text" name="title" required>
            <label class="field" for="genres">Жанры</label>
            <select class="field_wrap"  name="genres" multiple required>
                    {% for genre in genres %}
                        <option value="{{ genre.genre_id }}">{{ genre.title }}</option>
                    {% endfor %}
                </select>
            <label class="field">Авторы</label>
            <select class="field_wrap" name="authors" multiple required>
                    {% for author in authors %}
                        <option value="{{ author.author_id }}">{{ author.firstname }} {{ author.lastname }}</option>
                    {% endfor %}
            </select>
            <label class="field">Изображение</label>
            <input class="field_wrap" type="file" name="filedata" required>
            <label class="field">Описание</label>
            <textarea class="field field_wrap book_description" name="description"></textarea>
            <label class="field"><input type="submit"></label>
        </form>
    </div>
{% endblock %}