<li class="list-item">
    <a href="/shop/{{ book_id }}"
       class="woocommerce-LoopProduct-link woocommerce-loop-product__link"> </a>
    <div class="post_item_wrap"><a
                href="/shop/{{ book_id }}"
                class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
        </a>
        <div class="post_featured"><a
                    href="/books/{{ book_id }}"
                    class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
            </a>
            <div class="post_thumb"><a
                        href="/shop/{{ book_id }}"
                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                </a><a class="hover_icon hover_icon_link"
                       href="/shop/{{ book_id }}">
                    <span class="onsale">Sale!</span>
                    <img
                         src="/img/{{ img }}"
                         class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"> </a>
            </div>
        </div>
        <div class="post_content">
            <h2 class="woocommerce-loop-product__title"><a
                        href="/shop/{{ book_id }}">A
                    banquet of mouse</a></h2>
            <span class="price"><del><span class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">$</span>10.20</bdi></span></del> <ins><span
                            class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol">$</span>9.99</bdi></span></ins></span>
            <a href="http://booklovers.ancorathemes.com/shop/its-a-really-strange-story/?add-to-cart=257"
               data-quantity="1"
               class="button product_type_simple add_to_cart_button ajax_add_to_cart"
               data-product_id="257" data-product_sku=""
               aria-label="Add “A banquet of  mouse” to your cart" rel="nofollow">Add
                to cart</a></div>
    </div>
</li>
