<li class="list-item" style="width:200px">
    <a href="/shop/{{ book_id }}"
       class="woocommerce-LoopProduct-link woocommerce-loop-product__link"> </a>
    <div class="post_item_wrap"><a
                href="/shop/{{ book_id }}"
                class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
        </a>
        <div class="post_featured"><a
                    href="/books/{{ book_id }}"
                    class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
            </a>
            <div class="post_thumb"><a
                        href="/shop/{{ book_id }}"
                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                </a><a class="hover_icon hover_icon_link"
                       href="/shop/{{ book_id }}">
                    <img
                         src="/img/{{ img }}"
                         class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"> </a>
            </div>
        </div>
        <div class="post_content">
            <h2 class="woocommerce-loop-product__title"><a
                        href="/shop/{{ book_id }}">A
                    banquet of mouse</a></h2>
            <span class="price"><ins><span
                            class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol"></span>9.99</bdi></span></ins></span>
            <form method="post" action="/basket/add">
                <input type="hidden" name="product" value="{{ book_id }}">
                <input type="hidden" name="quantity" value="1">
                <input type="submit" value="Add to cart" >
            </form></div>
    </div>
</li>
