<li>
    <a href="/shop/{{_id}}">
        <img
             src="/img/{{img}}"
             class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail">
        <span class="product-title">{{title}}</span>
    </a>
    {% include 'partials/raiting.twig' with {raiting:raiting}%}
    <span class="woocommerce-Price-amount amount"><bdi><div
            class="woocommerce-Price-currencySymbol"></div>{{price // 100}}.{{ price % 100 }}</bdi></span>
</li>