<li>
    <a href="/shop/{{book_id}}">
        <img
             src="/img/{{img}}"
             class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail">
        <span class="product-title">{{title}}</span>
    </a>
    {% if raiting is not null %}
    <div class="star-rating" role="img">
        {% if raiting > 4 and raiting < 6%}
        <span>★★★★★</span>
        {% elseif raiting > 3 and raiting < 5%}
        <span>★★★★☆</span>
        {% elseif raiting > 2 and raiting < 4%}
        <span>★★★☆☆</span>
        {% elseif raiting > 1 and raiting < 3%}
        <span>★★☆☆☆</span>
        {% elseif raiting > 0 and raiting < 2%}
        <span>★☆☆☆☆</span>
        {% endif %}
    </div>
    {% endif %}
    <span class="woocommerce-Price-amount amount"><bdi><div
            class="woocommerce-Price-currencySymbol"></div>{{price // 100}}.{{ price % 100 }}</bdi></span>
</li>