<div class="list-item">
    <figure class="sc_image  sc_image_shape_square"><img
                src="/img/{{ img }}"
                alt=""></figure>
    <h3 class="sc_title sc_title_regular sc_align_center margin_bottom_tiny"
        style="margin-top: 1.4em;text-align:center;color:#121212;font-weight:700;font-size:1.059em;">
        <a href="/books/{{ book_id }}">{{ title }}</a></h3>
    <div class="wpb_text_column wpb_content_element ">
        <div class="wpb_wrapper">
            <p style="text-align: center;">{{ firstname }} {{ lastname }}</p>

        </div>
    </div>
    <h5 class="sc_title sc_title_regular sc_align_center margin_top_tiny margin_bottom_null"
        style="text-align:center;color:#de3241;font-weight:700;font-size:1.059em;">
        ${{ price[0] }}.{{ price[1] }}</h5>
</div>