<li>
    <a href="/shop/{{book_id}}">
        <img
             src="/img/{{img}}"
             class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail">
        <span class="product-title">{{title}}</span>
    </a>
    {% if rating %}
    <div class="star-rating" role="img"
         aria-label="Rated 5.00 out of 5"><span
            style="width:100%">Rated <strong
            class="rating">{{rating}}</strong> out of 5</span>
    </div>
    {% endif %}
    <span class="woocommerce-Price-amount amount"><bdi><span
            class="woocommerce-Price-currencySymbol">$</span>{{price // 100}}.{{ price % 100 }}</bdi></span>
</li>