<div  class="list-item">
    <a href="/shop/{{ _id }}"
       class="woocommerce-LoopProduct-link woocommerce-loop-product__link"> </a>
    <div class="post_item_wrap"><a
                href="/shop/{{ _id }}"
                class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
        </a>
        <div class="post_featured"><a
                    href="/shop/{{ _id }}"
                    class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
            </a>
            <div class="post_thumb"><a
                        href="/shop/{{ _id }}"
                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                </a><a class="hover_icon hover_icon_link"
                       href="/shop/{{ _id }}">
                    <img
                         src="/img/{{ img }}"
                         class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                         alt="" loading="lazy"/></a>
            </div>
        </div>
        <div class="post_content">
            <div>
                {% for genre in genres %}
                <a href="/shop?genres={{ genre._id }}">{{ genre.title }}</a>
                {% endfor %}
            </div>
            <h2 class="woocommerce-loop-product__title"><a
                        href="/shop/{{ _id }}">{{ title }}</a></h2>
            <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol"></span>{{ price // 100 }}.{{ price % 100 }}</bdi></span> <ins><span
                            class="woocommerce-Price-amount amount"><bdi></bdi></span></ins></span>
{#                            <span class="woocommerce-Price-currencySymbol"></span>{{ last_price[0] }}.{{ last_parice[1] }}</bdi></span></ins></span>#}
            <form method="post" action="/basket/add">
                <input type="hidden" name="product" value="{{ _id }}">
                <input type="submit" value="Добавить" >
                <input type="hidden" name="quantity" value="1">
            </form></div>
        <div>
            <div>
                {% for tag in tags %}
                    <a href="/shop?tags={{ tag._id }}">{{ tag.title }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
