<li  class="list-item">
    <a href="/shop/{{ _id }}"
       class="woocommerce-LoopProduct-link woocommerce-loop-product__link"> </a>
    <div class="post_item_wrap"><a
                href="/shop/{{ _id }}"
                class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
        </a>
        <div class="post_featured"><a
                    href="/shop/{{ _id }}"
                    class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
            </a>
            <div class="post_thumb"><a
                        href="/shop/{{ _id }}"
                        class="woocommerce-LoopProduct-link woocommerce-loop-product__link">
                </a><a class="hover_icon hover_icon_link"
                       href="/shop/{{ _id }}">
                    <img wbook_idth="320" height="520"
                         src="/img/{{ img }}"
                         class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"
                         alt="" loading="lazy"/></a>
{#                         srcset="http://booklovers.ancorathemes.com/wp-content/uploads/2016/04/book6-340x520.jpg 340w, http://booklovers.ancorathemes.com/wp-content/uploads/2016/04/book6-196x300.jpg 196w, http://booklovers.ancorathemes.com/wp-content/uploads/2016/04/book6-670x1024.jpg 670w, http://booklovers.ancorathemes.com/wp-content/uploads/2016/04/book6-600x918.jpg 600w, http://booklovers.ancorathemes.com/wp-content/uploads/2016/04/book6.jpg 680w"#}
{#                         sizes="(max-wbook_idth: 340px) 100vw, 340px"> </a>#}
            </div>
        </div>
        <div class="post_content">
            <h2 class="woocommerce-loop-product__title"><a
                        href="/shop/{{ _id }}">{{ title }}</a></h2>
            <span class="price"><span class="woocommerce-Price-amount amount"><bdi><span
                                    class="woocommerce-Price-currencySymbol"></span>{{ price // 100 }}.{{ price % 100 }}</bdi></span> <ins><span
                            class="woocommerce-Price-amount amount"><bdi></bdi></span></ins></span>
{#                            <span class="woocommerce-Price-currencySymbol"></span>{{ last_price[0] }}.{{ last_parice[1] }}</bdi></span></ins></span>#}
            <form method="post" action="/basket/add">
                <input type="hidden" name="product" value="{{ _id }}">
                <input type="submit" value="Add to cart" >
                <input type="hidden" name="quantity" value="1">
            </form></div>
    </div>
</li>
