<div class="shop-sidebar sidebar widget_area scheme_original" role="complementary">
    <div class="sidebar_inner widget_area_inner">
        <aside id="woocommerce_widget_cart-2"
               class="widget_number_1 widget woocommerce widget_shopping_cart"><h5 class="widget_title">
                Корзина</h5>
            <div class="widget_shopping_cart_content">
                {% if basket is empty %}
                <p class="woocommerce-mini-cart__empty-message">Корзина пуста.</p>
                {% else %}
                    {% for item in basket %}
                        <div class="book_wrap" style="display: flex;margin:10px 0">
                            <img class="book_img" style="width:50px;flex-grow: 0" src="/img/{{ item.book.img }}">
                            <div class="right" style="margin:5px;">
                                <a class="book_title" href="/shop/{{ item.book._id }}">{{ item.book.title }}</a>
                                <div class="field">Цена: {{ item.book.price // 100}}.{{ item.book.price % 100 }}</div>
                                <div class="field">Количество: {{ item.quantity }}</div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </aside>
        <aside id="woocommerce_price_filter-2"
               class="widget_number_2 widget woocommerce widget_price_filter"><h5 class="widget_title">
                Цена</h5>
            <form method="get" id="search_form">
                <input type="text" style="width:40%;margin:0.5em 3.33%" id="min_price" name="min_price" pattern="(\d+)|(\d+.\d{1,2})" value="{{ min_price // 100 }}.{{ min_price % 100 }}" placeholder="Min_pirce">
                <input type="text" style="width:40%;margin:0.5em 3.33%" id="max_price" name="max_price" pattern="(\d+)|(\d+.\d{1,2})" value="{{ max_price // 100 }}.{{ max_price % 100 }}" placeholder="Max_price">
                <button type="submit" class="button">Фильтр</button>
            </form>
        </aside>
        <aside id="woocommerce_product_categories-2"
               class="widget_number_3 widget woocommerce widget_product_categories"><h5
                    class="widget_title">Жанры</h5>
            <select style="height:200px" name="genres" form="search_form" multiple class="product-categories">
                {% for genre in genres %}
                    <option class="cat-item cat-item-37" value="{{ genre.genre_id }}">{{ genre.title }}</option>
                {% endfor %}
            </select>
        </aside>
        <aside id="woocommerce_product_tag_cloud-2"
               class="widget_number_4 widget woocommerce widget_product_tag_cloud"><h5
                    class="widget_title">Теги:</h5>
            <select style="height:200px" name="tags" form="search_form" multiple class="product-categories">
                {% for tag in tags %}
                    <option class="cat-item cat-item-37" value="{{ tag.tag_id }}">{{ tag.title }}</option>
                {% endfor %}
            </select>
            <a href="/shop"><button>Очистить</button></a>
            <input type="submit" form="search_form" value="Поиск">
        </aside>
    </div>
</div>