<div class="isotope_item isotope_item_products isotope_item_products_6 isotope_column_6 isotope_item_show"
     style="display:inline-block; vertical-align: top">
    <div class="post_item post_item_products post_item_products_6			 post_format_standard odd">
        <div class="post_featured">
            <div class="post_thumb">
                <a class="hover_icon hover_icon_link"
                   href="/shop/{{ book_id }}"><img src="/img/{{img}}"></a>
            </div>
        </div>
        <div class="post_content isotope_item_content">
            <h5 class="post_title"><a
                    href="/shop/{{ book_id }}">{{title}}</a></h5>
            <div class="post_descr">
                <div class="author_name">
                    {{firstname}} {{ lastname }}
                </div>
                <style>
                    .star-rating > span{
                        font-size: 1.5em;
                    }
                </style>
                <div class="star-rating">
                    {% if raiting is null %}
                        <span>☆☆☆☆☆</span>
                    {% else %}
                    <span>{% for i in range(1, raiting) %}★{% endfor %}{% for i in range(1, 5 - raiting) %}☆{% endfor %}</span>
                    {% endif %}
                </div>
                <div class="reviews_count">
                    {{ reviews_count }} Reviews
                </div>


            </div>

        </div>                <!-- /.post_content -->
    </div>    <!-- /.post_item -->
</div>