<div class="isotope_item isotope_item_products isotope_item_products_6 isotope_column_6 isotope_item_show"
     style="display:inline-block; vertical-align: top">
    <div class="post_item post_item_products post_item_products_6			 post_format_standard odd">
        <div class="post_featured">
            <div class="post_thumb">
                <a class="hover_icon hover_icon_link"
                   href="/shop/{{ _id }}"><img src="/img/{{img}}"></a>
            </div>
        </div>
        <div class="post_content isotope_item_content">
            <h5 class="post_title"><a
                    href="/shop/{{ _id }}">{{title}}</a></h5>
            <div class="post_descr">
                <div class="author_name">
                    {{firstname}} {{ lastname }}
                </div>
                <style>
                    .star-rating > span{
                        font-size: 1.5em;
                    }
                </style>
                {% include 'partials/raiting.twig' with {raiting:raiting}%}
                <div class="reviews_count">
                    {{ reviews|length }} Отзывов
                </div>


            </div>

        </div>                <!-- /.post_content -->
    </div>    <!-- /.post_item -->
</div>