<div class="isotope_item isotope_item_classic isotope_item_classic_3 isotope_column_3 isotope_item_show"
     style="display:inline-block">
    <div class="post_item post_item_classic post_item_classic_3			 post_format_standard odd">

        <div class="post_featured">
            <div class="post_thumb"
                 data-image="http://booklovers.ancorathemes.com/wp-content/uploads/2016/02/image-1.jpg"
                 data-title="20 books">
                <a class="hover_icon hover_icon_link"
                   href="{{href}}"><img
                        class="wp-post-image" width="370"
                        height="220" alt="20 books"
                        src="{{img}}"></a>
            </div>
        </div>

        <div class="post_content isotope_item_content">


            <div class="post_descr">
                <h4 class="post_title"><a
                        href="{{href}}">20
                    books</a></h4>
                <p>{{title}}</p><a
                    href="{{href}}"
                    class="post_readmore"><span
                    class="post_readmore_label">More info</span></a>
            </div>


        </div>                <!-- /.post_content -->
    </div>    <!-- /.post_item -->
</div>